* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
}

.container > div {
  padding: 20px;
  overflow: hidden;
  width: 33.33%;
}

h1 {
  font-size: 18px;
}

tr:nth-child(odd) td {
  background-color: #eaeaea;
}

th {
  text-align: left;
  background-color: #666; 
  color: #fff;
}

th, td {
  padding: 6px 12px;
}

td:nth-child(1) {
  font-weight: bold;
}

/*
  colors from http://clrs.cc/
  they are a bit harsh I think though
*/

/* first section */

.container > div:nth-child(1) h1 {
  color: rgb(0, 116, 217);
}
.container > div:nth-child(1) th {
  background-color: rgb(0, 116, 217);
}

.container > div:nth-child(1) tr:nth-child(odd) td {
  background-color: rgba(0, 116, 217, 0.2);
}

/* second section */

.container > div:nth-child(2) h1 {
  color: rgb(177, 13, 201);
}
.container > div:nth-child(2) th {
  background-color: rgb(177, 13, 201);
}

.container > div:nth-child(2) tr:nth-child(odd) td {
  background-color: rgba(177, 13, 201, 0.1);
}

/* third section */

.container > div:nth-child(3) h1 {
  color: rgb(57, 204, 204);
}
.container > div:nth-child(3) th {
  background-color: rgb(57, 204, 204);
}

.container > div:nth-child(3) tr:nth-child(odd) td {
  background-color: rgba(57, 204, 204, 0.1);
}
