* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans;
  -webkit-print-color-adjust: exact;
}

.container {
  -moz-columns: 300px 3;
  columns: 300px 3;
}

.container > * {
  margin: 0 20px;
}

h1 {
  font-size: 18px;
  color: red;
  margin: 0;
  text-transform: uppercase;
  padding: 5px 10px;
  padding-top: 20px;
}

.group-name {
  color: green;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #555;
  color: #fff;
  margin-top: 20px;
  padding: 5px 10px;
}

.entry {
  padding: 5px 10px;
}

.entry:nth-child(odd) {
  background-color: #ddd;
}

.entry > div {
  display: inline-block;
}

.key {
  font-weight: bold;
  width: 140px;
}

.action {
  width: calc(100% - 140px);
}